$font-stack: 'Open Sans', sans-serif;
$primary-window-color: #F5F5F5;
$window-hover-color: #CFD8DC;
$window-active-color: #B0BEC5;
$button-size: 45px;
$max-navigation-height: 650px;
$max-navigation-width: 300px;
body,
html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-stack;
  font-size: 16px;
  line-height: 1.4em;
}
#map {
  margin: auto;
  width: 100%;
  height: 100%;
}
.navigation {
  opacity: 0.8;
  height: 100%;
  width: 100%;
  display: inline-block;
  position: absolute;
  z-index: 1;
  padding: 0;
  max-width: $max-navigation-width;
  font-variant: small-caps;
  font-size: 18px;
  max-height: $max-navigation-height;
  overflow: hidden;
  .fa {
    color: #455A64;
    font-size: $button-size;
    margin: 5px;
  }
  .fa:hover {
    cursor: pointer;
  }
  $c: 95%;
  $d: 45px;
  $e: 15%;
  ul {
    margin: 5px;
    height: -webkit-calc(#{$c} - #{$e} - #{$d});
    height: -moz-calc(#{$c} - #{$e} - #{$d});
    height: calc(#{$c} - #{$e} - #{$d});
    width: 95%;
    background-color: $primary-window-color;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: auto;
    box-shadow: 10px 10px 10px #9C9C9C;
    border: 1px solid #757575;
  }
  ul::-webkit-scrollbar {
    display: none;
  }
  ul:hover::-webkit-scrollbar {
    display: inline;
  }
  ul::-webkit-scrollbar {
    width: 12px;
  }
  ul::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
  }
  ul::-webkit-scrollbar-thumb {
    background-color: #ccc;
  }
  ul::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
  }
  .nav-item {
    padding: 20px;
    border-bottom-width: thin;
    border-bottom-style: solid;
    border-bottom-color: #DEDEDE;
  }
  .nav-item:hover {
    background-color: $window-hover-color;
    cursor: pointer;
  }
  .active {
    background-color: $window-active-color;
  }
}
.close {
  ul {
    -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);
    transition: transform 0.3s ease;
  }
  form {
    -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);
    transition: transform 0.3s ease;
  }
}
.open {
  ul {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    transition: transform 0.5s ease;
  }
  form {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    transition: transform 0.5s ease;
    width: 95%;
    margin-bottom: 10px;
    background: $primary-window-color;
    padding: 5px 0;
    max-height: 280px;
    box-shadow: 10px 10px 10px #9C9C9C;
    border: 1px solid #757575;
    label {
      margin-left: 10px;
      width: 100px;
      display: inline-block;
    }
    input[type="text"] {
      width: 155px;
    }
    input[type="submit"] {
      margin-top: 10px;
      margin-left: 10px;
    }
  }
}
#tiny {
  width: 50px;
  height: 50px;
}
$breakpoint-tablet: 768px;
@media (max-width: 600px) {
  .navigation {
    width: 130px;
    ul {
      font-size: 14px;
    }
    form {
      height: 20%;
      input[type="text"] {
        width: 100px;
      }
    }
    .nav-item {
      padding: 15px;
    }
  }
}
#ib-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
  background: $primary-window-color;
  padding: 5px;
  box-shadow: 5px 5px 5px #DEDEDE;
  border: 1px solid #757575;
  .header {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    h1 {
      width: 100%;
      margin-bottom: 4px;
    }
    .sub-title {
      width: 100%;
      font-size: 10px;
      margin-top: 0;
      border-bottom: solid;
      border-width: 2px;
    }
    h2 {
      margin: 0;
      padding: 0;
    }
  }
  .ib-content {
    margin-top: 4px;
    display: flex;
    flex-wrap: wrap;
    h3 {
      margin: 0;
      width: 100%;
    }
    p {
      font-size: 13px;
      padding: 0;
      width: 55%;
      margin-right: 5%;
    }
    img {
      height: 50%;
      width: 40%;
      min-height: 40px;
      min-width: 40px;
    }
  }
}
