.navigation
  +position(absolute, 0 0 0 0)
  z-index: 5
  +size(250px 100%)
  background: $black
  +transition-property(transform)
  +transition-duration(0.75s)
  +transition-timing-function($ease-out-back)
  +transition-delay(0s)

  .logo-wrapper
    height: 150px
    color: $yellow
    box-sizing: border-box
    padding: 30px 20px 20px 20px
    +display(flex)
    +flex-wrap(wrap)
    +flex-direction(column)
    +align-items(center)
    +justify-content(center)
    @include bp-small
      padding: 15px 15px 15px 15px

    .logo-items
      margin: 0
      padding: 0
      +size(100% 50px)
      font-weight: 400
      height: auto

    .logo
      @extend .logo-items
      +hide-text
      +background(url("../images/logo.svg") left no-repeat)

    .project-name
      @extend .logo-items
      letter-spacing: 1px
      font-size: +em(20)

      @include bp-small
        font-size: +em(16)

  ul
    list-style-type: none
    padding: 0
    margin: 0
    overflow: auto
    +size(100% calc(100% - 150px))

    .active
      border-left: 3px solid $yellow
      color: #f5ae00

    li
      color: $navText
      font-size: +em(16)
      font-weight: 500
      padding: 40px 20px 30px 20px
      +border-color($borderColor null $borderColor)
      +border-width(1px 0 1px 0)
      +border-style(solid null solid null)
      cursor: pointer

      .star
        +size(80px null)

      @include bp-small
        padding: 20px 15px 20px 15px
        font-size: +em(14)

      &:hover
        @extend .active

      +bp-small
        font-size: +em(14)

  @include bp-small
    +size(175px 100%)

@include bp-medium
  .navigation
    width: 200px
    display: block
    overflow: visible
    +transition(transform 0.5s ease, opacity 0.5s ease)
    +transform(translateX(-250px))

    &.open
      transform: scale(1)
      +transform(translateX(0px))
      opacity: 1
      +transition(all 0.5s ease)


    &.close
      transform: scale(1)
      opacity: 0
      +transition(all 0.5s ease)
      +transform(translateX(-250px))

  .mobile-nav-toggle
    position: absolute
    z-index: 4
    top: 5px
    left: 5%
    +size(80px 50px)
    background: $black
    border: 1px solid $yellow
    border-radius: 2px
    cursor: pointer
    box-shadow: 0px 10px 15px $black
    padding: 0px

    span,
    span:before,
    span:after
      content: ""
      display: block
      height: 2px
      width: 70px
      background: $yellow
      position: relative
      top: 24px
      left: 5px

    span:before
      top: 12px
      left: 0px

    span:after
      top: -14px
      left: 0px

    .nav-closer
      right: -5%
      position: absolute
      top: -5%
      z-index: 4000
      padding: 40px 50px 40px 50px
      cursor: pointer

  .mobile-menu-close
    position: absolute
    top: 5px
    right: -40px
    background: url("../images/cross_yellow.png") center center no-repeat
    background-size: 15px
    height: 30px
    width: 30px
    border: 1px solid $yellow
    border-radius: 30px
    z-index: 5
    cursor: pointer
    padding: 10px
    box-sizing: border-box

    .closer
      right: -10px
      position: absolute
      top: -5px
      z-index: 5000
      padding: 30px

@include bp-small
  .navigation
    width: 40%
